[submodule "configs/ranger-plugins/archives"]
	path = configs/ranger-plugins/archives
	url = https://github.com/maximtrp/ranger-archives.git
[submodule "nvim/plugins/blink.cmp"]
	path = nvim/plugins/blink.cmp
	url = https://github.com/Saghen/blink.cmp.git
[submodule "nvim/plugins/codecompanion"]
	path = nvim/plugins/codecompanion
	url = https://github.com/olimorris/codecompanion.nvim.git
[submodule "nvim/plugins/codecompanion-spinner"]
	path = nvim/plugins/codecompanion-spinner
	url = https://github.com/franco-ruggeri/codecompanion-spinner.nvim.git
[submodule "nvim/plugins/committia"]
	path = nvim/plugins/committia
	url = https://github.com/rhysd/committia.vim.git
[submodule "nvim/plugins/conform"]
	path = nvim/plugins/conform
	url = https://github.com/stevearc/conform.nvim.git
[submodule "nvim/plugins/git-rebase-auto-diff"]
	path = nvim/plugins/git-rebase-auto-diff
	url = https://github.com/yutkat/git-rebase-auto-diff.nvim.git
[submodule "nvim/plugins/helm-ls"]
	path = nvim/plugins/helm-ls
	url = https://github.com/qvalentin/helm-ls.nvim.git
[submodule "nvim/plugins/lazydev"]
	path = nvim/plugins/lazydev
	url = https://github.com/folke/lazydev.nvim.git
[submodule "nvim/plugins/markview"]
	path = nvim/plugins/markview
	url = https://github.com/OXY2DEV/markview.nvim.git
[submodule "nvim/plugins/mason"]
	path = nvim/plugins/mason
	url = https://github.com/williamboman/mason.nvim.git
[submodule "nvim/plugins/mason-lspconfig"]
	path = nvim/plugins/mason-lspconfig
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "nvim/plugins/mini"]
	path = nvim/plugins/mini
	url = https://github.com/nvim-mini/mini.nvim.git
[submodule "nvim/plugins/nvim-lspconfig"]
	path = nvim/plugins/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/plugins/nvim-tree"]
	path = nvim/plugins/nvim-tree
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "nvim/plugins/nvim-treesitter"]
	path = nvim/plugins/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/plugins/nvim-treesitter-textobjects"]
	path = nvim/plugins/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "nvim/plugins/plenary"]
	path = nvim/plugins/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/plugins/precognition"]
	path = nvim/plugins/precognition
	url = https://github.com/tris203/precognition.nvim.git
[submodule "nvim/plugins/reticle"]
	path = nvim/plugins/reticle
	url = https://github.com/tummetott/reticle.nvim.git
[submodule "nvim/plugins/schema-companion"]
	path = nvim/plugins/schema-companion
	url = https://github.com/cenk1cenk2/schema-companion.nvim.git
[submodule "nvim/plugins/schemastore"]
	path = nvim/plugins/schemastore
	url = https://github.com/b0o/SchemaStore.nvim.git
[submodule "nvim/plugins/solarized"]
	path = nvim/plugins/solarized
	url = https://github.com/maxmx03/solarized.nvim.git
[submodule "nvim/plugins/tmux"]
	path = nvim/plugins/tmux
	url = https://github.com/aserowy/tmux.nvim.git
[submodule "tmux/plugins/colors-solarized"]
	path = tmux/plugins/colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "tmux/plugins/prefix-highlight"]
	path = tmux/plugins/prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule "tools/diff-so-fancy"]
	path = tools/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "tools/fzf"]
	path = tools/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "tools/git-extras"]
	path = tools/git-extras
	url = https://github.com/tj/git-extras.git
[submodule "tools/git-quick-stats"]
	path = tools/git-quick-stats
	url = https://github.com/arzzen/git-quick-stats.git
[submodule "tools/httpstat"]
	path = tools/httpstat
	url = https://github.com/b4b4r07/httpstat.git
[submodule "tools/spark"]
	path = tools/spark
	url = https://github.com/holman/spark.git
[submodule "tools/spectre-meltdown-checker"]
	path = tools/spectre-meltdown-checker
	url = https://github.com/speed47/spectre-meltdown-checker
[submodule "tools/testssl.sh"]
	path = tools/testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
[submodule "yazi/plugins/githead.yazi"]
	path = yazi/plugins/githead.yazi
	url = https://github.com/llanosrocas/githead.yazi.git
[submodule "yazi/yazi-rs-plugins"]
	path = yazi/yazi-rs-plugins
	url = https://github.com/yazi-rs/plugins.git
[submodule "zsh/plugins/abbr"]
	path = zsh/plugins/abbr
	url = https://github.com/olets/zsh-abbr.git
[submodule "zsh/plugins/archive"]
	path = zsh/plugins/archive
	url = https://github.com/romkatv/archive.git
[submodule "zsh/plugins/autopair"]
	path = zsh/plugins/autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "zsh/plugins/autosuggestions"]
	path = zsh/plugins/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/autosuggestions-abbreviations-strategy"]
	path = zsh/plugins/autosuggestions-abbreviations-strategy
	url = https://github.com/olets/zsh-autosuggestions-abbreviations-strategy.git
[submodule "zsh/plugins/completions"]
	path = zsh/plugins/completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/plugins/defer"]
	path = zsh/plugins/defer
	url = https://github.com/romkatv/zsh-defer.git
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "zsh/plugins/git-completion"]
	path = zsh/plugins/git-completion
	url = https://github.com/felipec/git-completion.git
[submodule "zsh/plugins/iterm2-shell-integration"]
	path = zsh/plugins/iterm2-shell-integration
	url = https://github.com/gnachman/iTerm2-shell-integration.git
[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/plugins/syntax-highlighting"]
	path = zsh/plugins/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/z"]
	path = zsh/plugins/z
	url = https://github.com/agkozak/zsh-z.git
[submodule "zsh/plugins/docker-zsh-completion"]
	path = zsh/plugins/docker-zsh-completion
	url = https://github.com/greymd/docker-zsh-completion.git
[submodule "zsh/plugins/pnpm-shell-completion"]
	path = zsh/plugins/pnpm-shell-completion
	url = https://github.com/g-plane/pnpm-shell-completion.git
[submodule "zsh/plugins/claude-bash-completion"]
	path = zsh/plugins/claude-bash-completion
	url = https://github.com/cldotdev/claude-bash-completion
[submodule "zsh/plugins/claude-code-zsh-completion"]
	path = zsh/plugins/claude-code-zsh-completion
	url = https://github.com/1160054/claude-code-zsh-completion
[submodule "zsh/plugins/you-should-use"]
	path = zsh/plugins/you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
[submodule "zsh/plugins/history-substring-search"]
	path = zsh/plugins/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "nvim/plugins/flash"]
	path = nvim/plugins/flash
	url = https://github.com/folke/flash.nvim.git
[submodule "tmux/plugins/resurrect"]
	path = tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/continuum"]
	path = tmux/plugins/continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
